<!DOCTYPE html>
<html>

  {% include head.html %}
	<body id="index-body">
  		<div class="card container" id="card1">
  			<div id="card1-image-box" class="row">
  				<div class= "col-md-4 col-xs-14">
  					<img id="contact-image" src="./images/profile.jpg">
  				</div>
  				<div class="col-md-6 col-xs-14">
		  			<div class=".row" id="contact-name">Amit Bagaria</div>
		  			<div class=".row" id="contact-title">Software Developer</div>
					<ul id="contact-badges">
	<!-- GitHub link abc123-->

						<li class="icon-link-item"><a href="https://github.com/cooldroid" class="icon-link">
						<i class="fa fa-github-square fa-3x"></i>
						</a></li>

	<!-- Twitter link -->

						<li class="icon-link-item"><a href="https://twitter.com/jacob_r_paine" class="icon-link"><svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve" width="28">
						<path id="Twitter" fill="#D1CECC" d="M14,0C6.27,0,0,6.27,0,14s6.27,14,14,14s14-6.27,14-14S21.73,0,14,0z M20.69,10.57c0.01,0.15,0.01,0.3,0.01,0.45c0,4.56-3.47,9.82-9.82,9.82c-1.95,0-3.76-0.57-5.29-1.55c0.27,0.03,0.54,0.05,0.82,0.05c1.62,0,3.11-0.55,4.29-1.48c-1.51-0.03-2.79-1.03-3.23-2.4c0.21,0.04,0.43,0.06,0.65,0.06c0.31,0,0.62-0.04,0.91-0.12c-1.58-0.32-2.77-1.71-2.77-3.39c0-0.01,0-0.03,0-0.04c0.47,0.26,1,0.41,1.56,0.43c-0.93-0.62-1.54-1.68-1.54-2.87c0-0.63,0.17-1.23,0.47-1.74c1.7,2.09,4.25,3.46,7.12,3.61c-0.06-0.25-0.09-0.52-0.09-0.79c0-1.91,1.55-3.45,3.45-3.45c0.99,0,1.89,0.42,2.52,1.09c0.79-0.15,1.53-0.44,2.19-0.84c-0.26,0.81-0.81,1.48-1.52,1.91c0.7-0.08,1.36-0.27,1.98-0.54C21.95,9.47,21.37,10.08,20.69,10.57z"/>
						</svg>
						</a></li>
	<!-- LinkedIn link -->

						<li class="icon-link-item"><a href="https://www.linkedin.com/in/jacob-r-paine-51870b10" class="icon-link"><svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve" width="28">
						<path id="LinkedIn" fill="#D1CECC" d="M18.82,15.09v3.61h-2.09v-3.37c0-0.85-0.3-1.42-1.06-1.42c-0.58,0-0.92,0.39-1.07,0.77c-0.06,0.13-0.07,0.32-0.07,0.51v3.52h-2.09c0,0,0.03-5.71,0-6.3h2.09v0.89c0,0.01-0.01,0.01-0.01,0.02h0.01V13.3c0.28-0.43,0.77-1.04,1.89-1.04C17.79,12.25,18.82,13.16,18.82,15.09z M9.18,18.7h2.09v-6.3H9.18V18.7z M10.24,9.36c-0.72,0-1.19,0.47-1.19,1.09c0,0.61,0.45,1.09,1.16,1.09h0.01c0.73,0,1.18-0.48,1.18-1.09C11.39,9.84,10.95,9.36,10.24,9.36zM28,14c0,7.73-6.27,14-14,14S0,21.73,0,14S6.27,0,14,0S28,6.27,28,14z M20.93,8.02c0-0.55-0.46-1-1.02-1H8.09c-0.57,0-1.02,0.45-1.02,1v11.96c0,0.55,0.46,1,1.02,1h11.82c0.57,0,1.02-0.45,1.02-1V8.02z"/>
						</svg>
						</a></li>
					</ul>
				</div>
			</div>
  			</div>
  		</div>

  		<div class="container card" id="card2">
	  		<div class="col-md-10 col-xs-14">
	  			<p id="cv-title">Welcome!</p>
	  			<p id="cv-brief">Thanks for visiting! I'm currently looking for software development work connected to games and learning. If you think I might be a good fit for your group, feel free to take a look at my resume or send me an email. Or take a look at some of the work I accomplished at Nashville Software School below.</p>
	  			<a href="resume.html"><button id="cv-view-button" type="button" class="btn btn-default cv-buttons"><span class="glyphicon glyphicon-folder-open"></span> View CV</button></a>
	  			<a download="./cv/cv.pdf"><button id="cv-view-button" type="button" class="btn btn-default cv-buttons"><span class="glyphicon glyphicon-floppy-save"></span> Download CV</button></a>
	  		</div>
  		</div>

		<div class="card" id="card3">
			<div class="row">
				<div class="col-md-3 col-xs-14">
					<p class="project-title">Project Title</p>
					<img id="project-image" src="./images/profile.jpg" width="150px">
				</div>
				<div id="tech-div" class="col-md-3 col-xs-10">
					<div class="project-tech">Project Technologies</div>
					<img id="project-image" src="./images/angular-logo.jpeg">
					<img id="project-image" src="./images/js-logo.jpeg">
					<img id="project-image" src="./images/nodejs-logo.png">
				</div>
			</div>
			<div class="row">
				<div class="project-details">Project details
					<p> Things and things and things and things and things andthings and things and things and things</p>
				</div>
			</div>
			<div class="row">	
				<div class="project-links">Project links</div>
			</div>
			<div class="row"> 
				<p>link link link link link</p>
			</div>
		</div>
	</body>

</html>
